@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Charm";
  src: local("Charm"),
    url("../public/fonts/Charm-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit"),
    url("../public/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 900;
  src: local("Kanit"),
    url("../public/fonts/Kanit-Bold.ttf") format("truetype");
}
